/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   @import "bootstrap";

.buddies, .users-section{
   ul {
      li{
         display: flex;
         justify-content: space-between;
      }
   }
}

.user-info {
   ul {
      display: inline-flex;
      align-items: center;
      li {
         margin-left: 10px;
      }
   }
   
}

.user-posts-card{
   margin-top: 1rem;
}

.timeline-posts{
   padding: 1rem;
}

nav{
   .nav-brand{
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-left: 1rem;
      margin-right: 5px;
      padding-right: 8px;
      border-right: 1px solid #0b315c;
      font-weight: 900;
      // font-size: 1.25rem;
   }
}

.left-menu {
   .nav-brand:hover {
      border: none;
    }
}

#custom-card {
   max-width: 600px;
   margin-bottom: 100px;
   margin: 0 auto;
}
.signin-with {
   .divider {
      padding-top: 16px;
      border-bottom: 1px solid grey;
      position: relative;

      span{
         top: -20px;
         color: gray;
      }
   }

   h6{
      padding: 8px 0;
      color: gray;
   }
   a{
      text-decoration: none;
      color: white;
   }

   .facebook{
      background-color: #3b5998;
      &:hover{
         background-color: #4d6eb1;
      }
   }

   .google {
      background-color: #DB4437;
      &:hover{
         background-color: rgb(226, 81, 68);
      }
   }

   .github {
      background-color: #24292e;
      &:hover{
         background-color: #383b3d;
      }
   }

   ul{
      display: inline-flex;
      li{
         cursor: pointer;
         padding: 6px 12px;
         border-radius: 4px;  
         margin-right: 12px;    
         span{
            a {
               padding-left: 8px;
            }
         }
      }
   }
}
